<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="phpunit.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
>

    <testsuites>
        <testsuite name="TNTSearch Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>