<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="phpunit.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
>

    <testsuites>
        <testsuite name="TNTSearch Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
      <whitelist addUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">./src/</directory>
      </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./tests/coverage" charset="UTF-8"/>
    </logging>
</phpunit>